[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lib/erc4626-tests"]
	path = lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
